[build]
# The index HTML file to drive the bundling process.
target = "./public/index.html"

# Build in release mode.
release = false

# The output dir for all final assets.
dist = "dist"

# The public URL from which assets are to be served.
public_url = "/"

# Whether to include hash values in the output file names.
filehash = true

# Whether to inject scripts (and module preloads) into the finalized output.
inject_scripts = true

# Run without network access
offline = false

# Require Cargo.lock and cache are up to date
frozen = false

# Require Cargo.lock is up to date
locked = false

# Allow disabling minification
no_minification = false

# Allow disabling sub-resource integrity (SRI)
no_sri = false

[watch]
# Paths to watch. The `build.target`'s parent folder is watched by default.
watch = []
# Paths to ignore.
ignore = []

[serve]
# The address to serve on.
address = "127.0.0.1"

# The port to serve on.
port = 8080

# Open a browser tab once the initial build is complete.
open = false

# Protocol used for autoreload WebSockets connection.
ws_protocol = "ws"
